INTRO TO PYTHON

Operators and control structures

In [22]:
distance = 750
speed = 4.8
time = distance /speed

days = time // (24)
hours = time % 24

print("the walker would need " , days , " days and " , hours)

the walker would need  6.0  days and  12.25

In [13]:
prime_numbers = [5, 7, 11, 13, 17, 19, 23, 29, 31, 37]
x = prime_numbers[0]

magic_statement = True
# Insert your code here
for x in prime_numbers:
    if (x ** 2 + 17)%12 != 6:
        magic_statement = False
        break

print(magic_statement);

True

In [15]:
to_be_divided = 3 ** 7 + 2 ** 14
print(to_be_divided % 7 == 0)

True

In [17]:
candidates = [4,5,10]
for x in candidates:
    if to_be_divided % x == 0:
        print(x, " divides")
    else:
        print(x, " does not divide")

4  does not divide
5  does not divide
10  does not divide

In [19]:
excerpt = ['The', '21', 'World', 'Cup', 'tournaments', 'have', 'been', 'won', 'by', 'eight',
           'national', 'teams.', 'Brazil', 'have', 'won', 'five', 'times', ',', 'and',
           'they', 'are', 'the', 'only', 'team', 'to', 'have', 'played', 'in', 'every',
           'tournament', '.', 'The', 'other', 'World', 'Cup', 'winners', 'are', 'Germany',
           'and', 'Italy', ',', 'with', 'four', 'titles', 'each', ';', 'Argentina', ',',
           'France', ',', 'and', 'inaugural', 'winner', 'Uruguay,', 'with', 'two', 'titles',
           'each', ';and', 'England', 'and', 'Spain', ',', 'with', 'one', 'title', 'each', '.']

In [21]:
is_france_on = "France" in excerpt
print(is_france_on)

is_not_croatia_on = "Croatia" not in excerpt
print(is_not_croatia_on)

True
True

In [4]:
bernadette = {"name": "Bernaddete", "seniority": 12, "salary": 2400}
marc = {"name": "Marc", "seniority": 6, "salary": 1490}

candidates = [bernadette, marc]

for candidate in candidates:
    if candidate["seniority"] < 5 and candidate["salary"] < 1500:
        print(candidate["name"], " is entitled to bonus criteria 1")
    elif (candidate["seniority"] >= 5 and candidate["seniority"] < 10) and (1500 <=  candidate["salary"] <= 2300):
        print(candidate["name"], " is entitled to bonus criteria 2")
    elif (candidate["seniority"] >= 10 ) and (candidate["salary"] < 1500 or candidate["salary"] > 2300):
        print(candidate["name"], " is entitled to bonus criteria 3")
    else:
        print(candidate["name"], " is not entitled")

Bernaddete  is entitled to bonus criteria 3
Marc  is not entitled

In [5]:
number = -2

# Insert your code here

if number == 0:
    print("This number is 0.")
elif number > 0:
    print("This number is positive.")
else:
    print("This number is negative.")

This number is negative.

In [6]:
size = 205

# Insert your code here

if size < 160:
  print("This person is small.")
elif 160 <= size < 180:
  print("This person is of medium height.")
elif 180 <= size < 200:
  print("This person is very tall")
else:
  print("This person is very, very tall")

This person is very, very tall

# Loops

In [12]:
i = 1

while i < 11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [13]:
results = [9.81, 9.89, 9.91, 9.93, 9.94, 9.95, 9.96, 9.97, 9.98, 10.03, 10.04, 10.05, 10.06, 10.08, 10.11, 10.23]

# Insert your code here

amount = 0;
ix = 0

while ix < len(results):
    if(results[ix] < 10):
        amount += 1
    ix +=1
print(amount)

9

In [16]:
bad_marks = [0, 2, 3, 3, 3, 3, 4, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 8, 8, 8, 8, 8, 8, 9, 10, 10, 10, 11, 12, 14]

# Insert your code here

sum = 0;
good_marks = [];

for mark in bad_marks:
    sum += mark;
    good_marks.append(mark + 4)

print("Avg is ", sum/30)
print(good_marks)
new_avg = (sum + 4*30)/30

print("New Avg is ", new_avg)

Avg is  6.7
[4, 6, 7, 7, 7, 7, 8, 9, 9, 9, 10, 10, 10, 10, 10, 11, 11, 12, 12, 12, 12, 12, 12, 13, 14, 14, 14, 15, 16, 18]
New Avg is  10.7

In [17]:
# Insert your code here


ls =[2,3,8,1,4]

current_max = ls[0]
current_min = ls[1]

for n in ls[1:]:
    if n > current_max:
        current_max = n
    if n < current_min:
        current_min = n

print("Current Max ", current_max)
print("Current Min ", current_min)

Current Max  8
Current Min  1

In [18]:
current_max = max(ls)
print(current_max)

current_min = min(ls)
print(current_min)

8
1

In [19]:
ls_3 = [2,3,4,5,6,4]
for number in ls_3:
    if number == 4:
        print("Number 4 is present")
        break

Number 4 is present

In [20]:
print(range(3, 11, 2))

range(3, 11, 2)

In [25]:
previou_term = 0
fibo = [0,1]
for current_term in range(2, 101):
    fibo.append(fibo[current_term - 1] + fibo[current_term - 2])
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075]

In [26]:
initial_area = 2000
for year in range(1, 11):
    initial_area*=2

print(initial_area)

2048000

In [28]:
initial_area = 2000
current_year = 1
while current_year <= 10:
    initial_area*=2
    current_year += 1

print(initial_area)

2048000

In [41]:
# Insert your code here
inverted_word= ""
word = "cargo"

for i in range(1, len(word) + 1):
    inverted_word += word[-i]
    
print(inverted_word)


print(len(word)//2 )

ograc
2

In [45]:
print(word[::])

cargo

In [46]:
ls = [1,2,3,4]
print(ls[::-1])

[4, 3, 2, 1]

In [47]:
text = ['The', '21', 'World', 'Cup', 'tournaments', 'have', 'been', 'won', 'by', 'eight',
        'national', 'teams.', 'Brazil', 'have', 'won', 'five', 'times', ',', 'and',
        'they', 'are', 'the', 'only', 'team', 'to', 'have', 'played', 'in', 'every',
        'tournament', '.', 'The', 'other', 'World', 'Cup', 'winners', 'are', 'Germany',
        'and', 'Italy', ',', 'with', 'four', 'titles', 'each', ';', 'Argentina', ',',
        'France', ',', 'and', 'inaugural', 'winner', 'Uruguay,', 'with', 'two', 'titles',
        'each', ';and', 'England', 'and', 'Spain', ',', 'with', 'one', 'title', 'each', '.']

counter = 0
for word in text:
    for letter in word:
        if(letter == 'e'):
            counter += 1

print(counter)

34

In [50]:
ls_2 = ['iconoclastic cargo', 'unbelievable imagination']
counter = 0 
for phrase in ls_2:
    for ix  in range(0, len(phrase)):
        if(phrase[ix] == 'i'):
            counter += 1

print(counter)

6

In [52]:
my_list = [i**2 for i in range(10)]
print(my_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [55]:
powers_three = [3 ** i for i in range(10)]
print(powers_three)

[1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683]

In [59]:
# The list of numbers for the last two questions
numbers_list = [10, 12, 7, 3, 26, 2, 19]

# Insert your code here

double_list = [i * 2 for i in numbers_list]
print(double_list)
even_list = ["even" if i % 2 == 0 else "seven" if i == 7 else "odd" for i in numbers_list]

print(even_list)

[20, 24, 14, 6, 52, 4, 38]
['even', 'even', 'seven', 'odd', 'even', 'even', 'odd']

In [61]:
l = ["level", "hello", "noon", "summer", "deed"]

palindrome = [i for i in l if i[::-1] == i]
print(palindrome)

['level', 'noon', 'deed']

In [62]:
L = [22, 65, 75, 93, 64, 47, 91, 53, 86, 53, 88, 17, 94, 39]

max = L[0]
maxIndex = 0
for index, element in enumerate(L):
    if element > max:
        max = element
        maxIndex = index
        
print(maxIndex)

12

In [63]:
incomes = [1200, 2000, 1500, 0, 1000, 4500, 1200, 500, 1350, 2200, 1650, 1300, 2300]
expenses = [1000, 1700, 2000, 700, 1200, 3500, 200, 500, 1000, 3500, 1350, 1050, 1850]

savings = [ income - expense for income, expense in zip(incomes, expenses)]
print(savings)

# Insert your code here

[200, 300, -500, -700, -200, 1000, 1000, 0, 350, -1300, 300, 250, 450]